@page
@model PrivacyModel
@{
    ViewData["Title"] = "Download";
}
<h1>@ViewData["Title"]</h1>
<br/>
<p>本站点提供临时性的汉五码处理服务。</p>
<p>因众所周知的原因，服务可能不定期失效。</p>
<p>因此，我们建议您在自己的计算机或服务器上部署这项服务。</p>
<p>如果你打算经常/长期使用该服务，或对可用性有较高需求，请认真考虑我们的建议。</p>
<br/>
<p>我们提供源代码与已编译过的程序。</p>
<p>我们预授权任何目的与场景的使用或修改。</p>
<p>作者宣告放弃关于本软件含署名权在内的所有权利。</p>
<br/>
<ul>
	<li><a href="han5c.zip">下载 - Windows_x64</a></li>
	<li><a href="https://gitee.com/hutiansuo/han5c">源码</a></li>
</ul>
<br/>
<p>This is for Everyone. --Tim Berners-Lee</p>
